{% extends 'kombinaciay/base.html'%}
{% block content %}
  <body>
    <form method="GET">
    {{ filter.form.as_p }}
    <button type="submit">Поиск</button>
  </form>
  <h2>Список студентов: {{ count }}</h2>
    <h1>Список студентов</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Обновить</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Количество занятий</th>
      {% if request.user.is_superuser %}
      <th scope="col">Активен</th>
      {% endif %}
       <th scope="col"> Удалить</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <td><a href="{% url 'kombinaciay:student_update' pk=student.pk %}">Обновить</a></td>
      <td>{{student.first_name}}</td>
      <td>{{student.second_name}}</td>
      <td>{{student.lesson_count}}</td>
      {% if request.user.is_superuser %}
      <td>{{student.is_active}}</td>
      {% endif %}
      <td><a href="{% url 'kombinaciay:student_del' pk=student.pk %}">Удалить</a></td>
    </tr>
  {% empty %}
  <tr>
    <td>Список пустой</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
{% endblock %}