{% extends 'kombinaciay/base.html'%}
{% block content %}
<form action="{% url 'kombinaciay:student_create' %}" method="POST">
    {% csrf_token %}
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
    {{ form.first_name.errors }}
    <button type="submit">Добавить</button>
</form>
{% endblock %}