{% extends 'kombinaciay/base.html'%}
{% block content %}
<form action="{% url 'kombinaciay:student_del' pk=student.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Удалить</button>
</form>
{% endblock %}